<header class="jumbotron">
    <h2 class="text-center">Code.Learn Programs</h2>
</header>

<div class="container"  *ngIf="notChooseProgram">
  <div class="row">
    <div class="col-12 col-lg-3">
        <div class="row mb-5">
            <div class="col-12 mb-2">
                <h4 class="text-center">Choose Category</h4> 
            </div>
            <div class="col-12 grey">
                <div class="mt-2">
                    <form class="mx-auto" (ngSubmit)="onfilterStacks(f)" #f="ngForm" >
                        <div class="form-check" *ngFor="let teckstack of teckstacks"> 
                            <label class="form-check-label">           
                            <input type="checkbox" class="form-check-input" [value]="teckstack.stack" required [ngModel]> {{teckstack.stack}}
                            </label>                  
                        </div>                    
                        <button type="submit" class="btn btn-sm btn-info my-3" [disabled]="!f.valid">Filter</button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-12 col-lg-9">
      <ul>
        <li class="mb-5">
          <a href="" class="">         
          <img [src]="java_seminar" alt="java-seminar" width="" height="" class="img-fluid"/>
          <h2 class="">Java Spring</h2>          
          </a>
          <h5 class="">€ 1.00</h5>
          <a href="#"><button type="button" class="btn btn-lg btn-block btn-info">Read more</button></a>
          <hr>
        </li>  
        <li class="mb-5" >
            <a href="" class="">         
            <img [src]="react" alt="react" width="" height="" class="img-fluid"/>
            <h2 class="">React</h2>          
            </a>
            <h5 class="">€ 1.00</h5>
            <a href="#"><button type="button" class="btn btn-lg btn-block btn-info">Read more</button></a>
            <hr>
        </li>  
        <li class="mb-5" *ngFor="let p of programs">
            <a class="" (click)="onSelectProgram(p)">         
            <img [src]="p.programLogo" alt="programLogo" width="" height="" class="img-fluid"/>
            <h2 class="">{{p.programTitle}}</h2>          
            </a>
            <h5 class="">€ {{p.price}}</h5>
            <a (click)="onSelectProgram(p)"><button type="button" class="btn btn-lg btn-block btn-info">Read more</button></a>
            <hr>
        </li>  
        
      </ul>
    </div>
    </div>    
</div>

<app-programsdetail [selectedProgram]="theProgram" (programExit)="onProgramExit()"></app-programsdetail>

<hr>
<div class="my-3"> 
    <h5 class="text-center m-5">Need more info?</h5>
    <h6 class="text-center m-5">We’re here to help. Send us an email (info@codehub.gr)</h6>
</div>