<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align:center;}

</style>
</head>
<body>
<hr>

<header class="page-header">
  <h1 class="page title">Our Philosophy</h1>
</header>

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h3>Vision</h3>
<p>Code.Hub is your ideal HR partner either you are a multinational company, a startup company or an ICT professional. Our vision is to meet every professional in ICT sector, either by Code.Career, Code.Learn or Code.Event services and connect them to create a powerful Code.Community.</p>
<h3>Our Values</h3>


<p>In Code.Hub team, we respect diversity, we are having fun, we welcome and respect new ideas and we love working on them. Working together, we create value for the ICT community.</p>

</div>
  </div>
</div>



</body>
</html>
