
  <div class="jumbotron border">
      <h2 class="text-center">Code.Learn Structure and methodology</h2>
</div>
<div class="container text-justify">
    <div class="row">   
        <h3>Code with us</h3>
        <p>&nbsp;</p>
        <p>We are not a typical online course. We are not a typical seminar. We are not just another certification. We are a different way to learn new technologies,
   new stuff and cutting-edge tools. We create value for your future based on your experience, your talent and your needs.</p>

        <p> We make functional teams, working with agile methodology along with an experienced tech mentor.
  You learn in a different way by hands-on work, new projects, learning from experienced developers with several years of working experience. </p>

        <p> For us, coding is a way of expressing ideas and creating software. You work in great teams, where cooperation is vital and makes the difference in the final result.
Being part of this team will give you the opportunity to learn from the best IT professionals, getting hands-on experience on real case projects, using agile methodologies.
 Our main scope is to create value by building fully functional teams to work with and deploy your ideas. </p>

        <p>If you are really interested in an upskilling and learn from Senior Engineers and from experienced geeks, then you are in the right hub. In our Code.Hub. </p>

        <a href="#">Check out the code.learn programs</a>
        <p>&nbsp;</p>

    </div>
    <hr>

    <div class="row">   
      <div class="col-12">
      <h2>Certification Process</h2>
      <p>&nbsp;</p>
      <b><p> Athens Tech College is the exclusive partner of Codehub for hands-on upskilling and reskilling educational programs in coding & programming. </p></b>

      <p>A <b>Certification of Attendance & Successful Completion</b> is provided <b>by Athens Tech College,</b> ensuring that the quality and learning outcomes of the programs.</p>
      <p><strong>Academic Director</strong></p>
      <p><span style="font-weight: 400;">Our magic partner, working on the curriculum of our Code.Learn programs. He is the one who designs all the training program and creates an amazing experience. He stays alert to new needs and finds the ideal IT professionals for you, in order to learn from the best</span></p>
      <p><b>Tech Director</b></p>
      <p><span style="font-weight: 400;">He is a hands-on expert IT professional, who works on</span><span style="font-weight: 400;"> successful creations and delivery of the company’s product to the marketplace by managing technical risks and opportunities. &nbsp;Makes key software design and implementation decisions with the working teams, &nbsp;and educates the team on technical best practices.</span></p>

      <p>&nbsp;</p>
    </div>
      <div class="col-12 text-center"><img [src]="fullImagePath" alt="code-learn"  width="80%"/>
      </div>
      <p>&nbsp;</p> <p>&nbsp;</p>

    </div>
    <hr>

    <div class="row">
        <div class="col-12">
        <h3>Program Structure</h3>
        <br/>
        </div>
        <div class="col-12">
            <h5><b>Teaching and learning methods</b></h5>
            <p>Lectures and interactive presentations from senior professionals in the IT Sector</p>
            <p>Hands-on examples and small team assessments</p>
            <p>Real business case projects, working in teams</p>
            <p>Mentoring from senior professionals</p>

            <h5><b>Assessment Methods</b></h5>            
            <p>Teamwork skills</p>
            <p>Team’s project functionality</p>
            <p>Agile methodology</p>
            <p>&nbsp;</p>

        </div>     
        <div class="col-12 text-center">
            <img [src]="fullImagePath3" alt="program-structure"  width="80%"/>
        </div>
              
      </div>
      <hr>

      <div class="row">  

      <h3>Project</h3>
      <p>&nbsp;</p>
      <p>We create real case projects for you. We get ideas from companies working on interesting projects and products and we transfer their needs in cutting-edge projects for you, to work on. You will face a real business problem and design a new product, a new feature or a new system using all the technologies you will learn during our code.learn lessons.</p>
      <p> Our scope is to understand all the new stuff by applying your knowledge. You and your team will have to complete a very demanding but also an interesting project, by using the Agile Methodology, get guidance from your mentor and your tech expert. By the end of the lessons, you will have not only gained fundamental knowledge but also, hands-on experience in a challenging project in a real working team. Also, you and your team will have to pitch your idea/project and show your work to the tech directors, mentors, and your academic director. </p>
      <p>&nbsp;</p>
      <a href="#">Check out the code.learn programs</a>
  
      </div>
      <hr>
      <h5 class="text-center m-5">Need more info?</h5>
      <h6 class="text-center m-5">We’re here to help. Send us an email (info@codehub.gr)</h6>
</div>
