
<div class="jumbotron border">
    <h2 class="text-center">Admin Panel</h2>
</div>

<div class="row">
  <div class="col-4">  </div>
  <div class="col-2">
    <button type="button" class="btn btn-secondary" routerLink="/admin-users">Users</button>
  </div>
  <div class="col-2">
      <div class="dropdown-show">
          <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Make your choice
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="/admin-jobs-post">Create a Job</a>
            <a class="dropdown-item" routerLink="/admin-articles-post">Create a Program</a>
          </div>
        </div>
  </div>
</div>
