<p>
  about-us works!
</p>
<html>
<head>
<style>
h1 {text-align:center;}
h2 {text-align:center;}

</style>
</head>
<body>
<hr>
<h1>About us</h1>
<hr>
<h2><p><b>A Hub for connecting the Software Development skills with the market.</b></p></h2>
<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
<p>We are proud to connect all the Software Engineers/ Developers to Code.Hub and share knowledge, career opportunities and upskilling learning paths.</p>

<p>You’ll have the opportunity to explore what drives you professionally and design your next steps.</p>

<h3>Code.Career</h3>
<p>Connect Developers with market needs.</p>

<h3>Code.Learn</h3>
<p>Upskilling / Reskilling for all coding functions.</p>

<h3>Code.Event</h3>
<p>Community Events for each technology.</p>

<h3>Code.Community</h3>
<p>Connect software engineers with market news.</p>
</div>
</div>
</div>


</body>
</html>
