input.ng-invalid.ng-touched{
  border: 1px solid red;
}

select[multiple] {
  height: 100px;
}

label {
  text-align: left;
  /* margin-left: 27px; */
  font-weight: 500;
  font-size: 1.1rem;
}


h4 {
  color: #FF4500;
}

button {
 border-color: #FF4500 !important;
  color: black !important;
  background-color: transparent;
}

button:hover {
   color: black !important;
   background-color:  #FF4500 !important;
 }

