<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2 class="page-title text-center">Sign Up</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
      <div class="col-md-8">
        <form (ngSubmit)="onRegisterUser(f)" #f="ngForm" >
            <div class="list-group text-center">
                <div class="input-group input-group-lg">
                  <input
                  type="text"
                  placeholder="First Name"
                  name="firstName"
                  class="form-control"
                  style="margin-right:5px;"
                  required
                  ngModel
                  >
                  <input
                  type="text"
                  placeholder="Last Name"
                  name="lastName"
                  class="form-control"
                  style="margin-left:5px;"
                  required
                  ngModel
                  >
                </div>
                <br>
                <div class="row">
                  <div class="input-group input-group-lg">
                    <input
                    type="text"
                    placeholder="Tech Stack"
                    name="techStack"
                    class="form-control"
                    style="margin-right:13px; margin-left:13px;"
                    required
                    ngModel
                    >
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="input-group input-group-lg">
                    <input
                    type="text"
                    placeholder="LinkedIn Stackoverflow GitHub"
                    name="profileLink"
                    class="form-control"
                    style="margin-right:13px; margin-left:13px;"
                    required
                    ngModel
                    >
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="input-group input-group-lg">
                    <input
                    type="number"
                    placeholder="Phone Number"
                    name="phoneNumber"
                    class="form-control"
                    style="margin-right:13px; margin-left:13px;"
                    required
                    ngModel
                    >
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="input-group input-group-lg">
                  <input
                  type="email"
                  placeholder="Email"
                  name="email"
                  class="form-control"
                  style="margin-right:13px; margin-left:13px;"
                  required
                  email
                  ngModel
                  #email="ngModel"
                  >
                  <span class="help-block" *ngIf="!email.valid && email.touched" style="color:red;">Please enter a valid email!</span>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="input-group input-group-lg">
                  <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  name="password"
                  style="margin-right:13px; margin-left:13px;"
                  required
                  ngModel
                  >
                </div>
              </div>
              <br>
              <div class="row">
                <button type="submit" class="btn btn-block btn-outline-success" style="margin-right:13px; margin-left:13px;" [disabled]="!f.valid">Register</button>
              </div>
        </form>
      </div>
    </div>
</div>
