<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2 class="text-center">Sign Up</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
      <div class="col-md-8">
        <form (ngSubmit)="onRegisterUser(f)" #f="ngForm" >
            <div class="list-group text-center">
                <div class="input-group input-group-lg">
                  <input
                  type="text"
                  placeholder="First Name"
                  name="firstName"
                  class="form-control"
                  style="margin-right:5px;"
                  required
                  ngModel
                  >
                  <input
                  type="text"
                  placeholder="Last Name"
                  name="lastName"
                  class="form-control"
                  style="margin-left:5px;"
                  required
                  ngModel
                  >
                  <input
                  type="text"
                  placeholder="Username"
                  name="username"
                  class="form-control"
                  style="margin-right:5px; margin-left:5px;"                  
                  ngModel
                  >
                </div>
                <br>
                <div class="row">
                    <div class="input-group input-group-lg col-6">
                        <select multiple class="form-control" name="techStack" style="margin-right:0px; margin-left:0px;" required ngModel>
                          <option value="java">Java</option>
                          <option value="csharp">C#</option>
                          <option value="cplusplus">C++</option>
                          <option value="javascript">Javascript</option>
                          <option value="net">.NET</option>
                          <option value="vuejs">Vue.Js</option>
                          <option value="angularjs">Angular.Js</option>
                          <option value="spring">Spring</option>                          
                        </select>
                    </div>                    
                    <div class="input-group input-group-lg col-6">
                      <select id="country" name="country" class="form-control" style="margin-right:5px; margin-left:5px;" required ngModel>
                        <option value="GR">Greece</option>
                        <option value="AU">Australia</option>
                        <option value="CA">Canada</option>
                        <option value="US">USA</option>
                      </select>                    
                    </div>
                
                </div>
                <br>
                <div class="row">
                  <div class="input-group input-group-lg">
                    <input
                    type="text"
                    placeholder="LinkedIn/Stackoverflow/GitHub"
                    name="profileLink"
                    class="form-control"
                    style="margin-right:13px; margin-left:13px;"                    
                    ngModel
                    >                    
                  </div>
                </div>
                <br>
                <div class="row">
                    <label for="file">Upload your CV</label>
                    <input
                    id="file"
                    type="file"
                    name="file"
                    class="form-control"
                    style="margin-right:13px; margin-left:13px; border: none;"                    
                    ngModel
                    >
                    
                </div>               
                <br>
                <div class="row">
                  <div class="input-group input-group-lg">
                    <input
                    type="number"
                    placeholder="Phone Number"
                    name="phoneNumber"
                    class="form-control"
                    style="margin-right:13px; margin-left:13px;"
                    required
                    ngModel
                    >
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="input-group input-group-lg">
                  <input
                  type="email"
                  placeholder="Email"
                  name="email"
                  class="form-control"
                  style="margin-right:13px; margin-left:13px;"
                  required
                  email
                  ngModel
                  #email="ngModel"
                  >
                  <span class="help-block" *ngIf="!email.valid && email.touched" style="color:red;">Please enter a valid email!</span>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="input-group input-group-lg">
                  <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  name="password"
                  style="margin-right:13px; margin-left:13px;"
                  required
                  ngModel
                  >
                </div>
              </div>
              <br>
              <div class="row">
                <button type="submit" class="btn btn-block btn-outline-success" style="margin-right:13px; margin-left:13px;" [disabled]="!f.valid">Register</button>
              </div>
        </form>
      </div>
    </div>
    <hr>
        <h5 class="text-center m-5">Need more info?</h5>
        <h6 class="text-center m-5">We’re here to help. Send us an email (info@codehub.gr)</h6>
</div>
