<div class="jumbotron border">
        <h2 class="text-center">Contact us</h2>
</div>

<div class="container">
    <form (ngSubmit)="onSend(f)" #f="ngForm" class="m-auto">
      <h4 class="mb-4 text-center">Send us an email !</h4>
        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="Name (required)"  ngModel required>      
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Email (required)" email ngModel #email="ngModel" required>       
          <p class="help-block" *ngIf="!email.valid && email.touched" style="color:red;">Please enter a valid email!</p>      
        </div>         
        <div class="form-group">
          <input type="number" class="form-control" name="telephone" placeholder="Your telephone number" ngModel>          
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" placeholder="Subject" ngModel>
        </div>        
        <div class="form-group">
          <textarea class="form-control" name="message" placeholder="Your message ... (required)" rows="5" maxlength="300" ngModel required></textarea>
        </div>
        <div class="form-group text-center mt-5">
            <button type="submit" class="btn btn-info btn-block" [disabled]="!f.valid">Send</button>
        </div>
    </form>
</div>

