<div class="jumbotron border">
        <h2 class="text-center">Contact us</h2>
</div>

<div class="container">
    <form (ngSubmit)="onSend(f)" #f="ngForm" class="m-auto">
      <h4 class="mb-4 text-center">Send us an email !</h4>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name" name="name" ngModel required>               
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="validationDefault02" placeholder="Email" name="email" ngModel required email #email="ngModel">      
          <p class="help-block" *ngIf="!email.valid && email.touched" style="color:red;">Please enter a valid email!</p>      
        </div>         
        <div class="form-group">
          <input type="number" class="form-control" id="validationDefault04" name="telephone" placeholder="Your telephone number">          
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="validationDefault05" name="subject" placeholder="Subject">
        </div>        
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" name="message" placeholder="Your message ..." rows="5" maxlength="300"></textarea>
        </div>
        <div class="form-group text-center mt-5">
            <button type="submit" class="btn btn-info btn-block" [disabled]="!f.valid">Send</button>
        </div>
    </form>
</div>

