<app-navbar [doLoginStatus]="doLoginStatus" (doLogin)="doLogin()"></app-navbar>
<div class="container-fluid" *ngIf="doLoginStatus">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2 class="page-title text-center">My Account</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form>
        <div class="list-group text-center">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Username" required name="username">
          </div>
          <br>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Password" required name="password">
          </div>
          <br>
          <button type="button" class="btn btn-outline-success" [disabled]="!loginForm.form.valid" (click)="onLoginUser()">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
