


<div class="jumbotron border">
        <h2 class="text-center">Our Team</h2>
  </div>
<div class="container">

    <div class="row">
      <div class="col-12 col-md-3"><img [src]="velkos" alt="velkos" width="100%"/>
      </div>
      <div class="col-12 col-md-6">
          <a href="https://www.linkedin.com/in/velkos/">Vasileios Velkos</a>
          <p>&nbsp;</p>
          <p>Mr. Vasileios L. Velkos holds Bachelor of Science (B.S.) as a Mechanical Engineer with Master in HR Management from the National and
          Kapodistrian University of Athens, and he is also a Systemic Researcher using Programming from the University of Piraeus.</p>
          <p>He can look back on a 12-year experience in recruiting quality personnel, and over the last 7 years, has specialized in the field of IT in
            accordance with the motto ‘The right person for the right position’.</p>
          <p>Vasileios has managed more than 27,000 IT candidates and has set up staff search services for large multinational companies across Europe.</p>
          <p>He holds the position of Head IT Recruitment Consultant and Business Leader, with the aim of directing new candidates to the job that best suits their qualifications.
          He also organizes numerous events and trainings for Developers and Programmers and has created the first Hub and Academy for Developers in Greece.</p>
      </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
      <div class="col-12 col-md-3"><img  [src]="nikolako" alt="nikolako" width="100%"/>
      </div>
      <div class="col-12 col-md-6">
          <a href="https://www.linkedin.com/in/ioannis-nikolakopoulos-b4577718/">Dr.- Eng. Ioannis Nikolakopoulos</a>
          <p>&nbsp;</p>
          <p>Dr.- Eng. Ioannis G. Nikolakopoulos is a  qualified Electrical & Computer Engineer, graduate of the National Technical University of Athens (NTUA).
              In 2008, he also received his MSc degree from the postgraduate programme “MBA in Techno-Economic Systems” from the National Technical University of Athens,
              with specialization in IT Systems Management. In 2010, he received his PhD from the School of Electrical and Computer Engineering of the same University and he
               also graduated from the School of Civil Engineering of NTUA.</p>
          <p>Since 2006, he has accumulated a solid and extended work experience in the field of Information Technology as he has worked as Senior IT Engineer,
            Team Manager, Specialized Consultant and Project Manager in several international and national companies such as CCC S.A.L.
            (4 years in the Information Systems department), Planning Group S.A., SOL S.A. Certified Public Accountants\ Crowe Horwath International (2 years),
            National School of Public Health (1 year), Riedel Founk & Intercomtechnik – Pierides TechnoSystems Ltd (PTS).</p>
      <p>In addition, Dr. Nikolakopoulos is Academic Director of postgraduate studies being offered by the University of Sheffield in Athens and at the same time,
      he has an extended teaching experience in many institutions.
      His expertise lies in the fields of Software Engineering, Business Intelligence, Big Data, Programming,
      Managing Knowledge Driven ICT Projects, Operating Systems, Data Modeling and Advanced Database Systems.</p>
      </div>
  </div>
</div>

<hr>

<div class="container-fluid"><h6 class="text-center"><p><b>Code.Hub team aims to make it the predominant point of networking of developers in the field of upskilling & reskilling
        of developers and IT professionals.</b></p></h6>
       
        <hr>
               <h5 class="text-center m-5">Need more info?</h5>
               <h6 class="text-center m-5">We’re here to help. Send us an email (info@codehub.gr)</h6>
       
       </div>
