<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2 class="text-center">My Account</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form (ngSubmit)="onLoginUser(f)" #f="ngForm">
        <div class="list-group text-center">
          <div class="input-group input-group-lg">
            <input type="text" placeholder="Username" name="userName" class="form-control" required ngModel>
          </div>
          <br>
          <div class="input-group input-group-lg">
            <input type="password" placeholder="Password" name="password" class="form-control" required ngModel>
          </div>
          <br>
          <button type="submit" class="btn btn-outline-success" [disabled]="!f.valid">Login</button>
        </div>
      </form>
    </div>
  </div>
  <hr>
        <h5 class="text-center m-5">Need more info?</h5>
        <h6 class="text-center m-5">We’re here to help. Send us an email (info@codehub.gr)</h6>
</div>
