<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align:center;}

</style>
</head>
<body>
<hr>
<h1>Code.Learn</h1>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
<h3>Engineer your future</h3>
<p>&nbsp;</p>
<p>Choose the best upskilling program, adjust your learning pathway and boost your career. Code.Learn is here to educate IT community to meet market needs. Our programs are designed by experienced professionals and academic professors and are delivered exclusively from developers to developers. By recognizing the market needs we identify the key technologies that emerge and train the IT community.</p>

<p>We are aiming, not only to train on technical issues but also to support professionals in finding their ideal new employer, partner or team through real case projects and agile methodologies. Learn new technologies but also learn your motives, yourself and unlock amazing capabilities!</p>

<p>&nbsp;</p>
<h4>Athens Tech College is the exclusive partner of Codehub for hands-on upskilling & reskilling educational programs in coding & programming.</h4>
<p>&nbsp;</p>

<p>Athens Tech College is the first educational institution in Greece that specialises in computer science and ICT studies. ATH/TECH offers academic courses designed to educate professionals who are interested in technology and entrepreneurship and want to thrive in the current and future employment arena. Athens Tech College was created thanks to the successful collaboration of BCA College, the first Greek college in management studies, Intracom Holdings, a multinational company that is involved in computing, gaming and constructions, and 24MEDIA group, Greece’s most successful digital media company.</p>
<p>&nbsp;</p>
<h5>Join Code.Hub and create the opportunities you wish for!</h5>


<a href="https://www.codehub.gr/learn-structure">Learn more about Code.Learn Structure and methodology</a>

</div>
</div>
</div>
</body>
</html>
