<div class="jumbotron">
  <h2 class="text-center">Program Creation Page</h2>
</div>


<div class="container">
  <div class="row">
<div class="col-md-12" >

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group" >
        <label for="Title"> Program Title</label>
        <input
        type="text"
        class="form-control"
        ngModel
        name="programTitle"
        required
        >
      </div>

      <label for="Title"> Price </label>
      <div class="form-group" >
        <input
        type="number"
        class="form-control"
        ngModel
        name="price"
        required
        >
      </div>

      <label for="Description">Small Description</label>
      <div class="form-group">
        <textarea       
        cols="30"
        rows="2"
        class="form-control"
        ngModel
        name="smallDescription"
        required
        ></textarea>
      </div>

      <label for="Description">Main Description</label>
      <div class="form-group">
        <textarea        
        cols="60"
        rows="5"
        class="form-control"
        ngModel
        name="mainDescription"
        required
        ></textarea>
      </div>

      <label for="Description">Additional Info</label>
      <div class="form-group">
        <textarea
        id="description"
        cols="30"
        rows="2"
        class="form-control"
        ngModel
        name="aditionalInfo"
        required
        ></textarea>
      </div>

      <label for="Title"> Category </label>
      <div class="form-group" >
        <input
        type="text"
        class="form-control"
        ngModel
        name="category"
        required
        >
      </div>

      <label for="Title"> Program Logo </label>
      <div class="form-group" >
        <input
        type="file"
        class="form-control"
        ngModel
        name="programLogo"
        
        >
      </div>
      <button style="float:right" type="submit" [disabled]="!f.valid" class="btn btn-outline-success mb-5">Submit</button>
    </form>
    </div>
  </div>
</div>
