#navbarSupportedContent {
    font-size: 1.1rem;
}

#navbarSupportedContent li a:hover {
color: #FF4500 !important;
cursor: pointer;
}

.logo:focus {
    outline: none !important;
}

.active-link {
    color: #FF4500 !important;
}
    