<html>
<head>
<style>
h1 {text-align:center;}
h6 {text-align:center;}
</style>
</head>

<body>

<hr>
<h1>Our Instructors</h1>
<hr>
<p>&nbsp;</p>
<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-4">
          <a href="https://www.linkedin.com/in/ioannis-nikolakopoulos-b4577718/"><b>Dr.- Eng. Ioannis Nikolakopoulos</b></a>
          <p></p>

          <p>Dr.- Eng. Ioannis G. Nikolakopoulos is a  qualified Electrical & Computer Engineer, graduate of the National Technical University of Athens (NTUA).
              In 2008, he also received his MSc degree from the postgraduate programme “MBA in Techno-Economic Systems” from the National Technical University of Athens,
              with specialization in IT Systems Management. In 2010, he received his PhD from the School of Electrical and Computer Engineering of the same University and he
               also graduated from the School of Civil Engineering of NTUA.</p>
               <p>&nbsp;</p>

<p>Since 2006, he has accumulated a solid and extended work experience in the field of Information Technology as he has worked as Senior IT Engineer,
  Team Manager, Specialized Consultant and Project Manager in several international and national companies such as CCC S.A.L.
  (4 years in the Information Systems department), Planning Group S.A., SOL S.A. Certified Public Accountants\ Crowe Horwath International (2 years),
   National School of Public Health (1 year), Riedel Founk & Intercomtechnik – Pierides TechnoSystems Ltd (PTS).</p>
<p>&nbsp;</p>


<p>In addition, Dr. Nikolakopoulos is Academic Director of postgraduate studies being offered by the University of Sheffield in Athens and at the same time,
   he has an extended teaching experience in many institutions.
    His expertise lies in the fields of Software Engineering, Business Intelligence, Big Data, Programming,
     Managing Knowledge Driven ICT Projects, Operating Systems, Data Modeling and Advanced Database Systems.</p>
     <p>&nbsp;</p>

</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-4">
          <a href="https://www.linkedin.com/in/costasgiannacoulis//"><b>Constantinos Giannacoulis</b></a>
          <p>&nbsp;</p>

            <p>Constantinos is an innovative and confident professional with a distinguished 20+ year career leading the design,
               deployment, and support of advanced technology solutions.</p>
          <p>&nbsp;</p>
<p>While he had the opportunity to work with Java and Web ecosystems since their beginning back in the mid 90’s, Constantinos possesses multi-year hands-on experience
   in building teams, setting up development hubs and design operational processes, designing and implementing software systems to address complex business needs
    in several business industries and utilize cutting-edge technology.</p>
          <p>&nbsp;</p>

<p>Over the past 5 years, Constantinos has served as Director of Technology in IRI’s global development center and as Director of Software Development in SingularLogic.</p>
<p>&nbsp;</p>

</div>
</div>
</div>
<hr>


<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-4">
          <a href="https://www.linkedin.com/in/aggelos-katsaris-57288167/"><b>Aggelos Katsaris</b></a>
          <p>&nbsp;</p>

<p>Technical Architect with a comprehensive knowledge of technology and 16 Years of cross-industry experience in Internet-based Applications and websites.</p>
          <p>&nbsp;</p>

</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-4">
          <a href="https://www.linkedin.com/in/prodromouf/"><b>Fanis Prodromou</b></a>
          <p>&nbsp;</p>
          <img src="https://www.codehub.gr/wp-content/uploads/2017/11/ANIXE_Logo-300x64.png">
          <p>&nbsp;</p>
          <p>Fanis is a Team Leader/Senior Software Engineer and works on a high tech company on the tourism industry.
              He holds a BSc in Computer Science from Hellenic Open University.</p>
              <p>He has developed during the last 12 years a vast experience both in Front and Back-end with main aspects being the architectural design, the code quality and the performance.</p>
              <p>He has worked in various big companies with technologies like classic asp, .net C#, Java, Web Forms, .net MVC, and his passion is to build web apps with modern technologies such as Angular and Node.js.</p>
</div>
</div>
</div>
<hr>


<div class="container-fluid">
   <div class="row">
     <div class="col-6"></div>
       <div class="col-4">
          <a href="https://www.linkedin.com/in/akalipetis/"><b>Antonis Kalipetis</b></a>
             <p>&nbsp;</p>
              <p>Antonis is leading the technology at SourceLair — a company specialized in creating developer tools, while at the same time helps teams
               improve their development workflow.</p>

              <p>He’s a Python lover and developer, and a Docker Captain. When not talking about himself in the third person, he loves automating stuff and sharing knowledge
              around all things containers, DevOps and developer workflows. He’s also a regular speaker at local Meetups, mostly in Athens.</p>
</div>
</div>
</div>
<hr>

<div class="container-fluid">
   <div class="row">
     <div class="col-6"></div>
       <div class="col-4">
          <a href="https://www.linkedin.com/in/christos-peristeris-b1a61ba2/"><b>Christos Peristeris</b></a>
             <p>&nbsp;</p>
             <p>Holding a Diploma in “Electrical and Computer Engineering” and an MBA in “Techno-Economic Systems” with specialization in “IT Systems Management”,
               both of them granted from National Technical University of Athens.</p>
               <p>Solid Computer Science background, algorithm, data structures and design patterns knowledge. Developing J2EE/Spring web applications,
                  focusing mainly on back-end development, including platform integration services, Web/REST services, Relational/NoSQL DBs.</p>
                  <p>With more than 9 years of technical experience gained through corporate employment in leading companies of the lottery &amp; betting domain like Intralot,
                    I’m currently working as Software Engineer for Agile Actors, participating in Agile teams developing solutions for Camelot Global platforms.
                     Experience and skills spanning from enterprise applications development to managing projects and supervising small developing groups.</p>
                     <p>Believing in intrinsic motivation, ongoing personal development, human factor, cooperation and collaboration values.</p>




</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
        <div class="col-4">
           <a href="https://www.linkedin.com/in/spyrosargyroiliopoulos/"><b>Spyros Argyroiliopoulos</b></a>
              <p>&nbsp;</p>
              <p>Full Stack Developer.<br>
                Java &amp;&nbsp;JVM enthusiast.<br>
                TDD apprentice and Craftsmanship&nbsp;practitioner.<br>
                Agile methodology and SCRUM devotee.</p>
                <p>BSc in Mathematics Alumni, MSc in Computer Science in progress.<br>
                  Learning by teaching advocate.<br>
                  Lifetime inquirer and continuous learner.<br>
                  Currently working on Lottery and Gaming industry for Camelot Global and Agile Actors.</p>

</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
        <div class="col-4">
           <a href="https://www.linkedin.com/in/smatthaios/"><b>Stelios Matthaios</b></a>
              <p>&nbsp;</p>
              <p>Stelios Matthaios works currently as a Software Engineer in Agile Actors. He has a BSc in Informatics and an MSc in Computer Science from Athens University
                 of Economics and Business.</p>
                 <p>Stelios works for more than 6 years as a Software Engineer. He has developed applications in various industries like Big Data, Telco and Betting.
                    He is passionate about his job and enjoys motivating other people.</p>
</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
        <div class="col-4">
           <a href="https://www.linkedin.com/in/georgiosoikonomopoulos/"><b>George Oikonomopoulos</b></a>
              <p>&nbsp;</p>
             <p>George is a Senior Software Engineer and currently works on applications of EU institutions. He holds a BSc in Informatics of AUEB.</p>
             <p>Although he has worked with several technologies, he found love in Reactive Programming and for the moment is messing around with
                Angular,RxJS,Redux and Typescript.</p>
</div>
</div>
</div>
<hr>


<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
        <div class="col-4">
           <a href="https://www.linkedin.com/in/sotiris-kakavoulis-68680bb4/"><b>Sotiris Κakavoulis</b></a>
              <p>&nbsp;</p>
<p>Sotiris Κakavoulis is working as a Full Stack developer at NBG, on behalf of Agile Actors.
  Sotiris Κakavoulis is working as a Full Stack developer at NBG, on behalf of Agile Actors.</p>
  <p>Programming is his passion and well-written code a matter of honor. He strongly believes that a developer is defined by the way he thinks, not by the tools he uses.
     So he struggles to expand his horizons of science in all directions and try to become more and more, a powerful problem solver.</p>
 </div>
 </div>
 </div>
 <hr>


 <div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
        <div class="col-4">
           <a href="https://www.linkedin.com/in/sotiris-kakavoulis-68680bb4/"><b>Elias Chatzigeorgiou</b></a>
              <p>&nbsp;</p>
<p>He is currently working as the BI Solution Architect in UK’s #1 transfer company – hoppa.com. He holds a 20 years’ experience in the IT-industry in a diverse variety
   of fields, such as 3D rendering (raytracing, polygon rendering), CAD software (AutoCAD, IntelliCAD), telecoms, billing systems (Vodafone Greece),
   Signal Intelligence (Electronic warfare system, delivered to the Greek Army), Business software (CRM, CMS, ERP systems),
    online services (search & booking engines for the online travel industry), compilers (code generators from ASN.1 to C/Ada),
     mobile apps (Xamarin for Android/iOS). Having worked extensively with databases in general and SQLServer in particular
     (all versions since SQL2000, namely 2005, 2008, 2012, 2014 and 2016) and dealt with scale-up architectures,
     data replication, high availability, performance tuning, query optimization and high-volume databases,
     he is now crafting BI solutions using a mix of on-premise & cloud-based resources (Azure).</p><br>
     <p>He has also participated in EU research projects – one of them being taste, a project funded by the European Space Agency,
        targeting embedded devices that are used in satellite products.</p><br>
        <p>He has been a co-founder in Semantix S.A. – a greek startup specializing in telecoms & advanced Karolos Koutsoulelos is a software engineer.
          He holds a BSc in Computer Science and he is undergoing his studies for MSc in Advanced Software Engineering. </p><br>
          <p>Currently, he is working as a support/software engineer in the travel industry with main responsibilities involving Web API maintenance and monitoring,
             process automation and Web applications development.software, the CTO in qtec.gr – the company behind a desktop application
              that automates electronic medicine prescription and he is currently running exceed-systems.com – a startup developing web, mobile and back-end software solutions. </p>

</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
        <div class="col-4">
           <a href="https://www.linkedin.com/in/sotiris-kakavoulis-68680bb4/"><b>Christos Kotsidimos</b></a>
              <p>&nbsp;</p>
             <p>Mr. Christos Kotsdimos is a qualified IT Engineer graduate of University of Northumbria at Newcastle.
                 In 2010 he also received his MSc in Information Technology Management from the university of Seattle, Athens Campus.</p><br>
              <p>Since 1999, he has accumulated a solid and extended work experience in the field of Information Technology as he has worked in many areas of the IT.
                    Started as a junior system engineer and database administrator and now is an IT Manager of InternetQ. Throughout his career he has worked in
                  a series of projects regarding database design, optimization and deployment. Furthermore, he has assisted companies in adapting to IT changes.</p><br>
               <p>At the moment he is working at InternetQ as an IT manager driving a multinational team of engineers in cutting-edge technology projects in areas such as
                   music streaming, mobile advertising and cloud.</p>

</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
        <div class="col-4">
           <a href="https://www.linkedin.com/in/sotiris-kakavoulis-68680bb4/"><b>Ioannis Tsakalis</b></a>
              <p>&nbsp;</p>
<p>IT Delivery BI Supervisor at Vodafone.</p>
</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
        <div class="col-4">
           <a href="https://www.linkedin.com/in/sotiris-kakavoulis-68680bb4/"><b>Sokratis Vidros</b></a>
              <p>&nbsp;</p>
              <p>Lead Software Engineer at Workable, a fast-growing startup developing modern recruiting solutions. Passionate about building rich
                 internet applications using latest HTML 5 technologies, modern front-end frameworks and reliable backend stacks.
                 Also working on online fraud detection by studying the behavior of malicious users in web applications.
                 Graduate of the National Technical University of Athens, Greece and École Nationale Supérieure des Télécommunications (Telecom ParisTech, France)</p>

</div>
</div>
</div>
<hr>


<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
        <div class="col-4">
           <a href="https://www.linkedin.com/in/sotiris-kakavoulis-68680bb4/"><b>Ema Zyka</b></a>
              <p>&nbsp;</p>
<p>A Senior Front-end Developer at EMPIST (EMPIST  is a Shopify Plus Partner and a fast-growing company providing IT solutions whose HQ are located in Chicago, IL).</p>
<p>She is also a Co-Owner at Web &amp; Art Solutions, a web agency in Athens, specializing in website security services for the past 5 years.</p>
</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
        <div class="col-4">
           <a href="https://www.linkedin.com/in/sotiris-kakavoulis-68680bb4/"><b>Karolos Koutsoulelos</b></a>
              <p>&nbsp;</p>
              <img src="https://www.codehub.gr/wp-content/uploads/2017/11/ANIXE_Logo-300x64.png">
              <p>&nbsp;</p>
              <p>Karolos is a software engineer. He holds a BSc in Computer Science and he is undergoing his studies for MSc in Advanced Software Engineering.
               Currently, he is working as a support/software engineer in the travel industry with main responsibilities involving
               Web API maintenance and monitoring, process automation and Web applications development.</p>

</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
        <div class="col-4">
           <a href="https://www.linkedin.com/in/sotiris-kakavoulis-68680bb4/"><b>Thanos Tagaris</b></a>
              <p>&nbsp;</p>
<p>Thanos Tagaris is an Electrical and Computer Engineer currently pursuing his PhD in Intelligent Systems Laboratory of the National Technical University of Athens.
  He has participated in both state and EU projects and has worked in the private sector as an Electrical Engineer and a Data Scientist.
  His PhD focuses on Artificial Intelligence and Deep Learning for Ιmage Processing.</p>

</div>
</div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
      <div class="col-6"></div>
        <div class="col-4">
           <a href="https://www.linkedin.com/in/sotiris-kakavoulis-68680bb4/"><b>Thanos Tagaris</b></a>
              <p>&nbsp;</p>
<p>Big Data Engineer with a Software Engineering background. I hold a Bachelor’s degree in Computer Science, and am
  an Oracle Certified Implementation Specialist for Big Data, ADF (11g & 12c), and Linux.</p>
</div>
</div>
</div>
<hr>

<h6><p><b>Code.Hub is an academic process that simulates the real hands-on lab experience from Developers to Developers</b></p></h6>

</body>
</html>
