<div class="container-fluid ">

        <h1 class="text-center m-5">Code.Hub</h1>
        <h3 class="text-center m-5">The first Hub from Developers to Developers</h3>


        <div class="container">

                <div class="row p-4">
                        <section class="col-md-6 m-auto">
                                <img  [src]="fullImagePath2" alt="code-carreer" width="100%"/>
                            </section>   
                        <section class="col-md-5 p-5">
                                <h5 class="text-left">Code.Career</h5>
                                <p class="text-justify">Code.Career service is here to support your next career move. Feel free to check the open positions of our clients or contact us if you are looking for your next step in the ICT world.</p>
                        </section>
                                           
                 </div>


                <div class="row p-4">
                        <section class="col-md-5 m-auto order-md-2">
                                <img  [src]="fullImagePath" alt="code-learn"  width="100%"/>
                        </section>  
                        <section class="col-md-6 p-5 order-md-1">
                            <h5>Code.Learn</h5>
                            <p class="text-justify">Engineer your future. 
                                Choose the best upskilling program, adjust your learning pathway and boost your career. Code.Learn is here to educate IT community to meet market needs. Our programs are designed by experienced professionals and academic professors and are delivered exclusively from developers to developers. Upon successful completion certification is provided byAthens Tech College.
                                <br/> <br/>
                                    Code.Hub committed to the delivery of high quality hands-on upskilling & reskilling coding programs is having an exclusive partnership with Athens Tech College.
                                </p>
                        </section>
                                              
                 </div>


                 
                
        </div>
        <hr>
        <h5 class="text-center m-5">Need more info?</h5>
        <h6 class="text-center m-5">We’re here to help. Send us an email (info@codehub.gr)</h6>
</div>