input.ng-invalid.ng-touched{
  border: 1px solid red;
}

select[multiple] {
  height: 100px;
}

label {
  text-align: left;
  /* margin-left: 27px; */
  font-weight: 500;
  font-size: 1.1rem;

}

h3 {
  text-decoration: underline black;
}