<div class="jumbotron">
  <h2 class="text-center">My Profile</h2>
</div>
<div class="container mb-5">
  <h3 class="text-center my-4">View your profile</h3>
  <div class="row">    
    <h5 class="text-center col-12">Personal Information</h5>
    <section class="col-12">
        Email: {{user.email}} 
        <br>
        Username: {{user.username}} 
        <br>
        First Name: {{user.firstName}} 
        <br>
        Last Name: {{user.lastName}} 
        <br>
        Number: {{user.phoneNumber}} 
        <br>
        Country:{{user.countryIsoCode}} 
    </section>  
    <h5 class="text-center col-12">Professional Information</h5>
    <section class="col-12">      
      Teckstack: {{user.techStack}} 
      <br>
      LinkdeIn: {{user.linkedInLink}}  
      <br>
      StackOverflow: {{user.stackOverflowLink}} 
      <br>
      GitHub: {{user.githubLink}} 
    </section>

   <button routerLink="/edit-profile" class="btn btn-block btn-info" style="margin-right:13px; margin-left:13px; margin-top: 20px;">Edit Profile</button>
   <button routerLink="/home" class="btn btn-block btn-warning" style="margin-right:13px; margin-left:13px; margin-top: 20px;">Exit</button>
  </div>
</div>

